/*
* Aqua Theme
* Designed:Sreekumar paramu
* Author: Nilaf Talapady
* Company: Moonraft Innovation Labs Pvt Ltd
*/
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img, object, embed {
  max-width: 100%;
  height: auto; }

object, embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.start {
  float: left !important; }

.end {
  float: right !important; }

.text-start {
  text-align: left !important; }

.text-end {
  text-align: right !important; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0;
    margin-right: -0;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column, .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float: left; }

@media only screen {
  .column.small-centered, .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.small-uncentered, .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.small-uncentered.opposite, .columns.small-uncentered.opposite {
    float: right; }
  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .column, .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .small-1 {
    position: relative;
    width: 8.33333%; }
  .small-2 {
    position: relative;
    width: 16.66667%; }
  .small-3 {
    position: relative;
    width: 25%; }
  .small-4 {
    position: relative;
    width: 33.33333%; }
  .small-5 {
    position: relative;
    width: 41.66667%; }
  .small-6 {
    position: relative;
    width: 50%; }
  .small-7 {
    position: relative;
    width: 58.33333%; }
  .small-8 {
    position: relative;
    width: 66.66667%; }
  .small-9 {
    position: relative;
    width: 75%; }
  .small-10 {
    position: relative;
    width: 83.33333%; }
  .small-11 {
    position: relative;
    width: 91.66667%; }
  .small-12 {
    position: relative;
    width: 100%; }
  [class*="column"] + [class*="column"]:last-child {
    float: right; }
  [class*="column"] + [class*="column"].end {
    float: left; }
  .small-offset-0 {
    position: relative;
    margin-left: 0% !important; }
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333% !important; }
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667% !important; }
  .small-offset-3 {
    position: relative;
    margin-left: 25% !important; }
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333% !important; }
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667% !important; }
  .small-offset-6 {
    position: relative;
    margin-left: 50% !important; }
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333% !important; }
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667% !important; }
  .small-offset-9 {
    position: relative;
    margin-left: 75% !important; }
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333% !important; }
  .column.small-reset-order, .columns.small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; } }

@media only screen and (min-width:40.063em) {
  .column.medium-centered, .columns.medium-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.medium-uncentered, .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.medium-uncentered.opposite, .columns.medium-uncentered.opposite {
    float: right; }
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .column, .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .medium-1 {
    position: relative;
    width: 8.33333%; }
  .medium-2 {
    position: relative;
    width: 16.66667%; }
  .medium-3 {
    position: relative;
    width: 25%; }
  .medium-4 {
    position: relative;
    width: 33.33333%; }
  .medium-5 {
    position: relative;
    width: 41.66667%; }
  .medium-6 {
    position: relative;
    width: 50%; }
  .medium-7 {
    position: relative;
    width: 58.33333%; }
  .medium-8 {
    position: relative;
    width: 66.66667%; }
  .medium-9 {
    position: relative;
    width: 75%; }
  .medium-10 {
    position: relative;
    width: 83.33333%; }
  .medium-11 {
    position: relative;
    width: 91.66667%; }
  .medium-12 {
    position: relative;
    width: 100%; }
  [class*="column"] + [class*="column"]:last-child {
    float: right; }
  [class*="column"] + [class*="column"].end {
    float: left; }
  .medium-offset-0 {
    position: relative;
    margin-left: 0% !important; }
  .medium-offset-1 {
    position: relative;
    margin-left: 8.33333% !important; }
  .medium-offset-2 {
    position: relative;
    margin-left: 16.66667% !important; }
  .medium-offset-3 {
    position: relative;
    margin-left: 25% !important; }
  .medium-offset-4 {
    position: relative;
    margin-left: 33.33333% !important; }
  .medium-offset-5 {
    position: relative;
    margin-left: 41.66667% !important; }
  .medium-offset-6 {
    position: relative;
    margin-left: 50% !important; }
  .medium-offset-7 {
    position: relative;
    margin-left: 58.33333% !important; }
  .medium-offset-8 {
    position: relative;
    margin-left: 66.66667% !important; }
  .medium-offset-9 {
    position: relative;
    margin-left: 75% !important; }
  .medium-offset-10 {
    position: relative;
    margin-left: 83.33333% !important; }
  .column.medium-reset-order, .columns.medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }

@media only screen and (min-width:64.063em) {
  .column.large-centered, .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.large-uncentered, .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.large-uncentered.opposite, .columns.large-uncentered.opposite {
    float: right; }
  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .column, .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .large-1 {
    position: relative;
    width: 8.33333%; }
  .large-2 {
    position: relative;
    width: 16.66667%; }
  .large-3 {
    position: relative;
    width: 25%; }
  .large-4 {
    position: relative;
    width: 33.33333%; }
  .large-5 {
    position: relative;
    width: 41.66667%; }
  .large-6 {
    position: relative;
    width: 50%; }
  .large-7 {
    position: relative;
    width: 58.33333%; }
  .large-8 {
    position: relative;
    width: 66.66667%; }
  .large-9 {
    position: relative;
    width: 75%; }
  .large-10 {
    position: relative;
    width: 83.33333%; }
  .large-11 {
    position: relative;
    width: 91.66667%; }
  .large-12 {
    position: relative;
    width: 100%; }
  [class*="column"] + [class*="column"]:last-child {
    float: right; }
  [class*="column"] + [class*="column"].end {
    float: left; }
  .large-offset-0 {
    position: relative;
    margin-left: 0% !important; }
  .large-offset-1 {
    position: relative;
    margin-left: 8.33333% !important; }
  .large-offset-2 {
    position: relative;
    margin-left: 16.66667% !important; }
  .large-offset-3 {
    position: relative;
    margin-left: 25% !important; }
  .large-offset-4 {
    position: relative;
    margin-left: 33.33333% !important; }
  .large-offset-5 {
    position: relative;
    margin-left: 41.66667% !important; }
  .large-offset-6 {
    position: relative;
    margin-left: 50% !important; }
  .large-offset-7 {
    position: relative;
    margin-left: 58.33333% !important; }
  .large-offset-8 {
    position: relative;
    margin-left: 66.66667% !important; }
  .large-offset-9 {
    position: relative;
    margin-left: 75% !important; }
  .large-offset-10 {
    position: relative;
    margin-left: 83.33333% !important; }
  .column.large-reset-order, .columns.large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }

/* Foundation Visibility HTML Classes */
.show-for-small, .show-for-small-only, .show-for-medium-down, .show-for-large-down, .hide-for-medium, .hide-for-medium-up, .hide-for-medium-only, .hide-for-large, .hide-for-large-up, .hide-for-large-only, .hide-for-xlarge, .hide-for-xlarge-up, .hide-for-xlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge-only {
  display: inherit !important; }

.hide-for-small, .hide-for-small-only, .hide-for-medium-down, .show-for-medium, .show-for-medium-up, .show-for-medium-only, .hide-for-large-down, .show-for-large, .show-for-large-up, .show-for-large-only, .show-for-xlarge, .show-for-xlarge-up, .show-for-xlarge-only, .show-for-xxlarge-up, .show-for-xxlarge-only {
  display: none !important; }

/* Specific visibility for tables */
table.show-for-small, table.show-for-small-only, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
  display: table; }

thead.show-for-small, thead.show-for-small-only, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
  display: table-header-group !important; }

tbody.show-for-small, tbody.show-for-small-only, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
  display: table-row-group !important; }

tr.show-for-small, tr.show-for-small-only, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
  display: table-row !important; }

td.show-for-small, td.show-for-small-only, td.show-for-medium-down td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge td.hide-for-xlarge-up, td.hide-for-xxlarge-up, th.show-for-small, th.show-for-small-only, th.show-for-medium-down th.show-for-large-down, th.hide-for-medium, th.hide-for-medium-up, th.hide-for-large, th.hide-for-large-up, th.hide-for-xlarge th.hide-for-xlarge-up, th.hide-for-xxlarge-up {
  display: table-cell !important; }

/* Medium Displays: 641px and up */
@media only screen and (min-width:40.063em) {
  /* Specific visibility for tables */
  .hide-for-small, .hide-for-small-only, .show-for-medium, .show-for-medium-down, .show-for-medium-up, .show-for-medium-only, .hide-for-large, .hide-for-large-up, .hide-for-large-only, .hide-for-xlarge, .hide-for-xlarge-up, .hide-for-xlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge-only {
    display: inherit !important; }
  .show-for-small, .show-for-small-only, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-up, .hide-for-medium-only, .hide-for-large-down, .show-for-large, .show-for-large-up, .show-for-large-only, .show-for-xlarge, .show-for-xlarge-up, .show-for-xlarge-only, .show-for-xxlarge-up, .show-for-xxlarge-only {
    display: none !important; }
  table.hide-for-small, table.hide-for-small-only, table.show-for-medium, table.show-for-medium-down, table.show-for-medium-up, table.show-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table; }
  thead.hide-for-small, thead.hide-for-small-only, thead.show-for-medium, thead.show-for-medium-down, thead.show-for-medium-up, thead.show-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important; }
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.show-for-medium, tbody.show-for-medium-down, tbody.show-for-medium-up, tbody.show-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important; }
  tr.hide-for-small, tr.hide-for-small-only, tr.show-for-medium, tr.show-for-medium-down, tr.show-for-medium-up, tr.show-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important; }
  td.hide-for-small, td.hide-for-small-only, td.show-for-medium, td.show-for-medium-down, td.show-for-medium-up, td.show-for-medium-only, td.hide-for-large, td.hide-for-large-up, td.hide-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only, th.hide-for-small, th.hide-for-small-only, th.show-for-medium, th.show-for-medium-down, th.show-for-medium-up, th.show-for-medium-only, th.hide-for-large, th.hide-for-large-up, th.hide-for-large-only, th.hide-for-xlarge, th.hide-for-xlarge-up, th.hide-for-xlarge-only, th.hide-for-xxlarge-up, th.hide-for-xxlarge-only {
    display: table-cell !important; } }

/* Large Displays: 1024px and up */
@media only screen and (min-width:64.063em) {
  /* Specific visibility for tables */
  .hide-for-small, .hide-for-small-only, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .show-for-medium-up, .show-for-large, .show-for-large-up, .show-for-large-only, .hide-for-xlarge, .hide-for-xlarge-up, .hide-for-xlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge-only {
    display: inherit !important; }
  .show-for-small-only, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .hide-for-large, .hide-for-large-up, .hide-for-large-only, .show-for-xlarge, .show-for-xlarge-up, .show-for-xlarge-only, .show-for-xxlarge-up, .show-for-xxlarge-only {
    display: none !important; }
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large, table.show-for-large-up, table.show-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table; }
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large, thead.show-for-large-up, thead.show-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important; }
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large, tbody.show-for-large-up, tbody.show-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important; }
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large, tr.show-for-large-up, tr.show-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important; }
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large, td.show-for-large-up, td.show-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only, th.hide-for-small, th.hide-for-small-only, th.hide-for-medium, th.hide-for-medium-down, th.hide-for-medium-only, th.show-for-medium-up, th.show-for-large, th.show-for-large-up, th.show-for-large-only, th.hide-for-xlarge, th.hide-for-xlarge-up, th.hide-for-xlarge-only, th.hide-for-xxlarge-up, th.hide-for-xxlarge-only {
    display: table-cell !important; } }

/* X-Large Displays: 1441 and up */
@media only screen and (min-width:90.063em) {
  /* Specific visibility for tables */
  .hide-for-small, .hide-for-small-only, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .show-for-medium-up, .show-for-large-up, .hide-for-large-only, .show-for-xlarge, .show-for-xlarge-up, .show-for-xlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge-only {
    display: inherit !important; }
  .show-for-small-only, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .show-for-large, .show-for-large-only, .show-for-large-down, .hide-for-xlarge, .hide-for-xlarge-up, .hide-for-xlarge-only, .show-for-xxlarge-up, .show-for-xxlarge-only {
    display: none !important; }
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-large-only, table.show-for-xlarge, table.show-for-xlarge-up, table.show-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table; }
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-large-only, thead.show-for-xlarge, thead.show-for-xlarge-up, thead.show-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important; }
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-large-only, tbody.show-for-xlarge, tbody.show-for-xlarge-up, tbody.show-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important; }
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-large-only, tr.show-for-xlarge, tr.show-for-xlarge-up, tr.show-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important; }
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-large-only, td.show-for-xlarge, td.show-for-xlarge-up, td.show-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only, th.hide-for-small, th.hide-for-small-only, th.hide-for-medium, th.hide-for-medium-down, th.hide-for-medium-only, th.show-for-medium-up, th.show-for-large-up, th.hide-for-large-only, th.show-for-xlarge, th.show-for-xlarge-up, th.show-for-xlarge-only, th.hide-for-xxlarge-up, th.hide-for-xxlarge-only {
    display: table-cell !important; } }

/* XX-Large Displays: 1920 and up */
@media only screen and (min-width:120.063em) {
  /* Specific visibility for tables */
  .hide-for-small, .hide-for-small-only, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .show-for-medium-up, .show-for-large-up, .hide-for-large-only, .hide-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-up, .show-for-xxlarge-only {
    display: inherit !important; }
  .show-for-small-only, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .show-for-large, .show-for-large-only, .show-for-large-down, .hide-for-xlarge, .show-for-xlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge-only {
    display: none !important; }
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xxlarge-up, table.show-for-xxlarge-only {
    display: table; }
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xxlarge-up, thead.show-for-xxlarge-only {
    display: table-header-group !important; }
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge-only {
    display: table-row-group !important; }
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xxlarge-up, tr.show-for-xxlarge-only {
    display: table-row !important; }
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-xlarge-only, td.show-for-xlarge-up, td.show-for-xxlarge-up, td.show-for-xxlarge-only, th.hide-for-small, th.hide-for-small-only, th.hide-for-medium, th.hide-for-medium-down, th.hide-for-medium-only, th.show-for-medium-up, th.show-for-large-up, th.hide-for-xlarge-only, th.show-for-xlarge-up, th.show-for-xxlarge-up, th.show-for-xxlarge-only {
    display: table-cell !important; } }

/* Orientation targeting */
.show-for-landscape, .hide-for-portrait {
  display: inherit !important; }

.hide-for-landscape, .show-for-portrait {
  display: none !important; }

/* Specific visibility for tables */
table.hide-for-landscape, table.show-for-portrait {
  display: table; }

thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait, th.hide-for-landscape, th.show-for-portrait {
  display: table-cell !important; }

@media only screen and (orientation: landscape) {
  /* Specific visibility for tables */
  .show-for-landscape, .hide-for-portrait {
    display: inherit !important; }
  .hide-for-landscape, .show-for-portrait {
    display: none !important; }
  table.show-for-landscape, table.hide-for-portrait {
    display: table; }
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important; }
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important; }
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important; }
  td.show-for-landscape, td.hide-for-portrait, th.show-for-landscape, th.hide-for-portrait {
    display: table-cell !important; } }

@media only screen and (orientation: portrait) {
  /* Specific visibility for tables */
  .show-for-portrait, .hide-for-landscape {
    display: inherit !important; }
  .hide-for-portrait, .show-for-landscape {
    display: none !important; }
  table.show-for-portrait, table.hide-for-landscape {
    display: table; }
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important; }
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important; }
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important; }
  td.show-for-portrait, td.hide-for-landscape, th.show-for-portrait, th.hide-for-landscape {
    display: table-cell !important; } }

/* Touch-enabled device targeting */
.show-for-touch {
  display: none !important; }

.hide-for-touch {
  display: inherit !important; }

.touch .show-for-touch {
  display: inherit !important; }

.touch .hide-for-touch {
  display: none !important; }

/* Specific visibility for tables */
table.hide-for-touch {
  display: table; }

.touch table.show-for-touch {
  display: table; }

thead.hide-for-touch {
  display: table-header-group !important; }

.touch thead.show-for-touch {
  display: table-header-group !important; }

tbody.hide-for-touch {
  display: table-row-group !important; }

.touch tbody.show-for-touch {
  display: table-row-group !important; }

tr.hide-for-touch {
  display: table-row !important; }

.touch tr.show-for-touch {
  display: table-row !important; }

td.hide-for-touch {
  display: table-cell !important; }

.touch td.show-for-touch {
  display: table-cell !important; }

th.hide-for-touch {
  display: table-cell !important; }

.touch th.show-for-touch {
  display: table-cell !important; }

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: openSansReg;
  src: url('../resource/fonts/OpenSans-Regular.ttf'); }

@font-face {
  font-family: openSansLight;
  src: url('../resource/fonts/OpenSans-Light.ttf'); }

@font-face {
  font-family: openSansSemiBold;
  src: url('../resource/fonts/OpenSans-Semibold.ttf'); }

@font-face {
  font-family: openSansBold;
  src: url('../resource/fonts/OpenSans-Bold.ttf'); }

@font-face {
  font-family: openSansItalic;
  src: url('../resource/fonts/OpenSans-Italic.ttf'); }

html, body {
  width: 100%;
  height: 100%; }

p {
  font-size: rem(16px); }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: openSansLight;
  font-weight: bold; }

h1, .c-h1 {
  font-size: rem(40px); }

h2, .c-h2 {
  font-size: rem(35px); }

h3, .c-h3 {
  font-size: rem(30px); }

h4, .c-h4 {
  font-size: rem(25px); }

h5, .c-h5 {
  font-size: rem(20px); }

h6, .c-h6 {
  font-size: rem(16px); }

.c-center {
  text-align: center; }

.c-right {
  text-align: right; }

.c-left {
  text-align: left; }

.c-condense {
  font-size: 85%; }

.c-lead {
  font-size: 125%; }

.c-shout {
  text-transform: uppercase; }

.c-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.c-transparent-bg {
  background-color: white;
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  bottom: 0;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 70 ")";
  filter: alpha(opacity=#{$value * 100});
  zoom: 1; }

.c-link {
  font-size: 12px;
  line-height: 20px; }

@media only screen and (min-width:40.063em) {
  .c-overflow-hidden-for-medium {
    overflow: hidden; } }







.l-block {
  display: block; }

.l-condense {
  margin-bottom: rem(10px); }

.l-pullLeft {
  float: left; }

.l-pullRight {
  float: right; }

.l-space {
  margin-bottom: rem(20px); }

.l-xspace {
  margin-bottom: rem(40px); }

.header {
  height: 50px;
  position: fixed;
  z-index: 10000;
  width: 100%; }

.header-body {
  margin: 0 auto;
  height: 100%;
  position: relative; }

.header-content-left {
  height: 100%; }

.header-sitemap-icon {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 100%;
  margin-left: -22px;
  vertical-align: middle;
  position: relative;
  background: url(images/icon-hamburger.png) no-repeat center center; }

.header-logo {
  background: url(images/logo.png) no-repeat left center;
  width: 200px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; }

.header-controls {
  height: 40px;
  margin: 5px 0; }
  .header-controls li {
    float: left;
    min-width: 40px;
    margin-right: 1px;
    height: 40px;
    position: relative; }

.header-mail {
  background: url(images/icon-mail.png) no-repeat center center; }

.header-phone {
  background: url(images/icon-phone.png) no-repeat center center; }

.header-profile {
  padding-left: 20px;
  font-size: 12px; }
  .header-profile > div {
    float: left; }

.header-profile-arrow {
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-top-width: 5px;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5px; }

.header-profile-pic {
  height: 40px; }
  .header-profile-pic img {
    height: 100%; }

.header-profile-name {
  padding: 5px 10px 5px 5px;
  line-height: 15px;
  font-weight: 200; }

.header-profile-name-text {
  font-weight: 400; }

.header-logout {
  padding: 0 10px;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 40px;
  padding-right: 20px; }

.header-logout-arrow {
  width: 30px;
  height: 40px;
  position: absolute;
  right: -5px;
  top: 0;
  bottom: 0;
  margin: 0;
  background: url(images/arrow-right.png) no-repeat center center; }

@media only screen {
  .header-body {
    padding-left: 10px;
    padding-right: 10px; }
  .header-sitemap-icon {
    margin-right: 0;
    margin-left: 0; } }

@media only screen and (min-width:40.063em) {
  .header-body {
    padding-left: 20px;
    padding-right: 20px; } }

.sitemap {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 10px auto;
  top: 100%;
  display: none;
  z-index: 2;
  background-color: white;
  background-image: url(../resource/images/bg-sitemap.png);
  background-position: 95% 88%;
  background-repeat: no-repeat;
  padding: 21px 20px 15px 20px;
  border-bottom: 1px solid #000066;
  border-top-width: 5px;
  border-style: solid;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); }
  .sitemap .common-callout-arrow-bdr, .sitemap .common-callout-arrow {
    left: 38px;
    margin-left: -10px; }

.sitemap.sitemap-is-visible {
  display: block !important; }

.sitemap-hdr {
  vertical-align: baseline;
  font-size: 12px;
  line-height: 26px;
  cursor: pointer;
  font-family: OpenSansBold; }

.sitemap-opt {
  padding-bottom: 10px; }


.sitemap-opt .sm-arrow {
  width: 20px;
  height: 13px;
  background: url(../resource/images/arrow-right.png) no-repeat left;
  position: relative;
  left: 0px;
  display: inline-block; }

.sitemap-opt.active .sitemap-arrow {
  background: url(../resource/images/arrow-down.png) no-repeat left; }

.sitemap-detail {
  margin-left: 20px;
  position: relative;
  height: 0;
  overflow: hidden; }

.sitemap-opt.active .sitemap-detail {
  height: auto; }

.sitemap-submenu li {
  font-size: 12px;
  line-height: 28px; }

.sitemap-qlinks {
  padding-bottom: 10px; }

.sitemap-slider {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%; }
  .sitemap-slider li {
    display: block;
    width: 100%;
    line-height: 26px;
    font-size: 12px; }

.sitemap-opt.active .sitemap-slider {
  position: static; }

.sitemap-ele {
  padding-bottom: 14px; }

@media only screen and (min-width:40.063em) {
  .sitemap .common-callout-arrow-bdr, .sitemap .common-callout-arrow {
    left: 28px; } }

@media only screen and (min-width:40.063em) {
  .sitemap .common-callout-arrow-bdr, .sitemap .common-callout-arrow {
    left: 38px; } }

.dashboard {
  position: relative;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 50px; }

.dashboard-sidebar {
  min-height: 100%;
  padding: 0 20px 0 0px; }

.dashboard-sidebar-inner {
  position: relative; }

.dashboard-overlay {
  background-color: black;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
  filter: alpha(opacity=#{$value * 100});
  zoom: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20000; }

.dashboard-main {
  padding: 0 10px; }
  .dashboard-main .widget {
    margin-bottom: 10px; }

.dashboard-main-inner {
  position: relative; }

.dashboard-cal-wrp {
  height: 175px;
  position: absolute;
  top: 9px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  display: none; }

.dashboard-tile2 .cal-view {
  -moz-transform: scale(4);
  -webkit-transform: scale(4);
  -o-transform: scale(4);
  -ms-transform: scale(4);
  transform: scale(4); }

.dashboard-det-fake, .dashboard-det {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 75px;
  left: 0;
  z-index: 1000;
  display: none; }

.dashboard-det-fake {
  background: #0071aa; }

@media only screen and (min-width:40.063em) {
  .dashboard-main {
    padding: 0 10px 0 10px; }
    .dashboard-main .widget {
      position: absolute;
      padding-right: 10px; } }

@media only screen and (min-width:40.063em) {
  .dashboard-main {
    padding: 0;
    padding-left: 20px; } }

.popup {
  z-index: 1000;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  top: 100%;
  height: 0;
  overflow: hidden;
  display: none; }

.popup-content {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0; }

.form-btn, .form-img-btn {
  height: 34px;
  background-color: #b2b2b2;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  font-size: 12px;
  font-family: OpenSansReg;
  text-transform: uppercase;
  line-height: 30px;
  -webkit-appearance: none;
  font-weight: normal; }

.form-btn {
  width: 100px; }

.form-section-body {
  letter-spacing: normal !important; }
  .form-section-body .dashboard-tile-subtle {
    text-transform: capitalize; }

.form-btn-email, .form-btn-print {
  text-align: right;
  background-image: url(../images/icon-btn-email.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-right: 20px;
  text-transform: Capitalize; }

.form-btn-print {
  background-image: url(../images/icon-btn-print.png); }

.form-img-btn {
  width: 140px;
  padding: 0 20px;
  text-align: left;
  background-image: url(../images/icon-arrow-right.png);
  background-repeat: no-repeat;
  background-position: 120px center;
  border-radius: 0px; }

.form-btn-back {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-color: white;
  background-image: url(../images/btn-back.png);
  border: 0;
  cursor: pointer;
  border-radius: 0px; }

.form-input, .form-textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #cccccc;
  height: 35px;
  line-height: 20px;
  padding: 5px;
  font-size: 12px;
  width: 202px;
  font-family: OpenSansLight;
  color: #333333; }

.form-textarea {
  height: 90px;
  resize: none; }

.form-section-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  font-family: OpenSansLight; }

.form-label, .form-field {
  line-height: 30px;
  font-size: 14px;
  font-family: OpenSansLight; }
  .form-label .selectbx-box, .form-field .selectbx-box {
    width: 180px; }

.form-label {
  float: left;
  width: 150px;
  font-size: 12px;
  color: #666666; }

.form-row {
  padding: 6px 0; }

.form-select-simple .selectbx-box {
  font-size: 12px; }

.form-field-imp {
  font-family: OpenSansReg;
  padding-left: 3px; }

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 5px 5px 5px 0;
  opacity: 0; }

input[type="radio"] + label {
  background: url("images/icon-select-off.png") no-repeat 0 5px;
  display: inline-block;
  margin-left: -30px;
  margin-right: 30px;
  padding-left: 25px;
  font-family: OpenSansReg;
  font-size: 12px; }

input[type="radio"]:checked + label {
  background: url("images/icon-select-on.png") no-repeat 0 5px; }

.bx-selectbx {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 35px;
  line-height: 35px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  width: 100%; }

.bx-selectbx-content {
  position: absolute;
  left: 0;
  right: 0; }

.bx-selectbx-input {
  visibility: hidden;
  position: absolute;
  font-weight: normal;
  top: 0;
  left: 0; }

.bx-selectbx-box {
  display: block;
  margin: 0 10px;
  line-height: 32px;
  height: 32px;
  position: relative;
  white-space: nowrap;
  font-weight: normal;
  z-index: 5;
  padding-right: 20px;
  font-size: 14px;
  background: url(../resource/images/icon-select.png) right 56% no-repeat; }

.bx-selectbx-options {
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  z-index: 999;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: Roboto; }
  .bx-selectbx-options li {
    padding: 0 10px;
    white-space: nowrap;
    line-height: 32px; }
    .bx-selectbx-options li:hover {
      color: white; }
      .bx-selectbx-options li:hover .dashboard-acct-no, .bx-selectbx-options li:hover .dashboard-acct-type {
        color: white; }

.bx-selectbx-box-arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0; }

.widget {
  position: relative; }

.widget-inner {
  padding: 20px 10px 0 10px;
  height: 100%;
  position: relative; }

@media only screen and (min-width:40.063em) {
  .widget-pos-x-1 {
    left: 0% !important; }
  .widget-pos-x-2 {
    left: 8.33333% !important; }
  .widget-pos-x-3 {
    left: 16.66667% !important; }
  .widget-pos-x-4 {
    left: 25% !important; }
  .widget-pos-x-5 {
    left: 33.33333% !important; }
  .widget-pos-x-6 {
    left: 41.66667% !important; }
  .widget-pos-x-7 {
    left: 50% !important; }
  .widget-pos-x-8 {
    left: 58.33333% !important; }
  .widget-pos-x-9 {
    left: 66.66667% !important; }
  .widget-pos-x-10 {
    left: 75% !important; }
  .widget-pos-x-11 {
    left: 83.33333% !important; }
  .widget-pos-y-1 {
    top: 135px; }
  .widget-pos-y-2 {
    top: 260px; }
  .widget-pos-y-3 {
    top: 385px; }
  .widget-pos-y-4 {
    top: 510px; }
  .widget-pos-y-5 {
    top: 635px; }
  .widget-pos-y-6 {
    top: 760px; }
  .widget-pos-y-7 {
    top: 885px; }
  .widget-pos-y-8 {
    top: 1010px; }
  .widget-pos-y-9 {
    top: 1135px; }
  .widget-pos-y-10 {
    top: 1260px; }
  .widget-pos-y-11 {
    top: 1385px; }
  .widget-pos-y-12 {
    top: 1510px; }
  .widget-pos-y-13 {
    top: 1635px; }
  .widget-pos-y-14 {
    top: 1760px; }
  .widget-pos-y-15 {
    top: 1885px; }
  .widget-height-1 {
    height: 125px; }
  .widget-height-2 {
    height: 250px; }
  .widget-height-3 {
    height: 375px; }
  .widget-height-4 {
    height: 500px; }
  .widget-height-5 {
    height: 625px; }
  .widget-height-6 {
    height: 750px; }
  .widget-height-7 {
    height: 875px; }
  .widget-height-8 {
    height: 1000px; }
  .widget-height-9 {
    height: 1125px; }
  .widget-height-10 {
    height: 1250px; } }

.widget-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px; }
  .widget-title span {
    display: block; }

.widget-title-1 {
  font-weight: bold;
  padding-right: 5px; }

.widget-title-2 {
  font-weight: 300; }

.widget-hdr-icon {
  width: 30px;
  height: 30px; }

.widget-content-1 {
  bottom: 125px;
  position: absolute;
  width: 100%; }
  .widget-content-1 .widget-content-row-2 {
    font-weight: 300;
    font-size: 12px; }

.widget-content-2 {
  position: absolute;
  bottom: 75px;
  font-size: 18px; }
  .widget-content-2 .widget-content-row-1 {
    font-weight: 300;
    font-size: 12px; }

.widget-btn {
  position: absolute;
  bottom: 10px;
  border-radius: 0;
  outline: 0;
  border: 0;
  width: 125px;
  line-height: 40px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Roboto; }

.widget-detail {
  overflow: hidden;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }
  .widget-detail.widget-detail-is-show {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

/*
* Generate Theme Colors
*/
.theme-primary-bgcolor {
  background-color: #6a6a6a; }

.theme-primary-color {
  color: #6a6a6a; }

.theme-primary-bdrcolor {
  border-color: #6a6a6a; }

.theme-link-bgcolor {
  background-color: #2db7cd; }

.theme-link-color {
  color: #2db7cd; }

.theme-link-bdrcolor {
  border-color: #2db7cd; }

.theme-title-bgcolor {
  background-color: #6a6a6a; }

.theme-title-color {
  color: #6a6a6a; }

.theme-title-bdrcolor {
  border-color: #6a6a6a; }

.theme-gen-bgcolor {
  background-color: #6a6a6a; }

.theme-gen-color {
  color: #6a6a6a; }

.theme-gen-bdrcolor {
  border-color: #6a6a6a; }

.widget-pos-y-0.widget .widget-inner {
  background-color: transparent; }
.widget-pos-y-0.widget .theme-primary-bgcolor {
  background-color: white; }
.widget-pos-y-0.widget .theme-primary-color {
  color: white; }
.widget-pos-y-0.widget .theme-primary-bdrcolor {
  border-color: white; }
.widget-pos-y-0.widget .theme-link-bgcolor {
  background-color: #80ffef; }
.widget-pos-y-0.widget .theme-link-color {
  color: #80ffef; }
.widget-pos-y-0.widget .theme-link-bdrcolor {
  border-color: #80ffef; }
.widget-pos-y-0.widget .theme-title-bgcolor {
  background-color: white; }
.widget-pos-y-0.widget .theme-title-color {
  color: white; }
.widget-pos-y-0.widget .theme-title-bdrcolor {
  border-color: white; }
.widget-pos-y-0.widget .theme-gen-bgcolor {
  background-color: white; }
.widget-pos-y-0.widget .theme-gen-color {
  color: white; }
.widget-pos-y-0.widget .theme-gen-bdrcolor {
  border-color: white; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-primary-bgcolor, .widget-pos-y-0.widget .bx-selectbx-detail .theme-primary-bgcolor {
  background-color: #6a6a6a; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-primary-color, .widget-pos-y-0.widget .bx-selectbx-detail .theme-primary-color {
  color: #6a6a6a; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-primary-bdrcolor, .widget-pos-y-0.widget .bx-selectbx-detail .theme-primary-bdrcolor {
  border-color: #6a6a6a; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-link-bgcolor, .widget-pos-y-0.widget .bx-selectbx-detail .theme-link-bgcolor {
  background-color: #2db7cd; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-link-color, .widget-pos-y-0.widget .bx-selectbx-detail .theme-link-color {
  color: #2db7cd; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-link-bdrcolor, .widget-pos-y-0.widget .bx-selectbx-detail .theme-link-bdrcolor {
  border-color: #2db7cd; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-title-bgcolor, .widget-pos-y-0.widget .bx-selectbx-detail .theme-title-bgcolor {
  background-color: #6a6a6a; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-title-color, .widget-pos-y-0.widget .bx-selectbx-detail .theme-title-color {
  color: #6a6a6a; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-title-bdrcolor, .widget-pos-y-0.widget .bx-selectbx-detail .theme-title-bdrcolor {
  border-color: #6a6a6a; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-gen-bgcolor, .widget-pos-y-0.widget .bx-selectbx-detail .theme-gen-bgcolor {
  background-color: #6a6a6a; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-gen-color, .widget-pos-y-0.widget .bx-selectbx-detail .theme-gen-color {
  color: #6a6a6a; }
.widget-pos-y-0.widget .widget-detail-is-show .theme-gen-bdrcolor, .widget-pos-y-0.widget .bx-selectbx-detail .theme-gen-bdrcolor {
  border-color: #6a6a6a; }

/*
* Currency Styling
*/
.currency-sub {
  font-size: 0.7em; }

/*
* Base Tag Rules
*/
body {
  font-family: 'Roboto';
  line-height: 1.5;
  font-size: 16px;
  background-color: #e6e6e6; }

/*
* Background
*/
.theme-bg {
  background: url('images/bg.jpg') no-repeat center center;
  position: absolute;
  height: 320px;
  width: 100%; }

@media only screen and (min-width:40.063em) {
  .theme-bg {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: '';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/*
* Header
*/
.header {
  background-color: transparent;
  position: absolute; }

.header-controls {
  color: white; }
  .header-controls a {
    color: white; }
  .header-controls li {
    background-color: #39aabb; }

/*
* Widget Configuration
*/
.widget {
  height: 250px; }

.widget-inner {
  background-color: white; }

.widget-btn {
  background-color: #b2b2b2;
  color: white; }

.widget-pos-y-0.widget .widget-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white; }

/*
* Per widget configuration.
* TODO: This temp fix. Move to spritesheets.
*/
.upcoming .widget-hdr-icon {
  background: url('images/upcoming-hdr-icon.png') no-repeat right top; }

.rewards .widget-hdr-icon {
  background: url('images/rewards-hdr-icon.png') no-repeat right top; }

/*
* Quick Links
*/
.qlinks {
  background-color: rgba(255, 255, 255, 0.6);
  color: #1a6e7b; }
  .qlinks .qlinks-emergency, .qlinks .qlinks-entry-inner {
    background-color: rgba(255, 255, 255, 0.8); }
  .qlinks .qlinks-add .qlinks-entry-inner {
    background-color: rgba(221, 245, 248, 0.8); }
  .qlinks .qlinks-add .qlinks-entry-text {
    line-height: 34px;
    height: 34px;
    font-size: 34px;
    font-weight: 200; }
